.two03{
    border-color: transparent;
    
}
.two04{
    border-color: transparent;
}
.two05{
    border-color: transparent;
}
.u99{
    width: 300px;
    padding: 5px;
}
.brand{
    font-size: 13px;
    font-weight: bold;
    color: black;
}
.u98{
    width: 300px;
    padding: 5px;
}
.u97{
    width: 300px;
    padding: 5px;
}
.u96{
    width: 300px;
    padding: 5px;
}
.hello01 img{
    width: 100px;
    margin-right: 110px;
}
.hello02 img{
    width: 100px;
    margin-right: 30px;
}
   
.hello03 img{
    width: 100px;
    margin-right: 30px;
}
   
.hello06 img{
    width: 100px;
    margin-right: 30px;
}
   
.baby img{
    width: 100px;
    height: 10vh;
}
.buy00 img{
    margin-top: 30px;
}
.Pop{
    padding-left: 50px;
    padding-top: 30px;
}
.Joy{
    padding-left: 50px;
    padding-top: 30px;
}
.Edit{
    padding-left: 50px;
    padding-top: 30px;
}
.Cozy{
    padding-left: 50px;
    padding-top: 30px;
}
.buy{
    margin-top: 40px;
}
.dress01{
    margin-top: 30px;
}
.my01{
    background-color: rgb(25, 236, 225);
}


    
